@import url(http://fonts.googleapis.com/css?family=Abel|Allura);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/*
	Affinity by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #C55300 url(images/img01.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #8A8A8A;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

p {
	line-height: 180%;
}

a {
	color: #D1551F;
}

strong {
	font-weight: 700;
	color: #2A2A2A;
}

/* Wrapper */

#wrapper {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	background: #D47028 url(images/img02.png) repeat;
}



/* Copyright */

#copyright {
	overflow: hidden;
	padding: 50px 0px;
}

#copyright p {
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 11pt;
	color: #AD7253;
}

#copyright a {
	color: #AD7253;
}

#copyright a:hover {
	text-decoration: none;
}


/* Button Style */

.button-style a {
	display: block;
	width: 174px;
	height: 50px;
	margin-top: 30px;
	background: url(images/img01.png) repeat;
	border-radius: 10px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14pt;
	font-weight: 200;
	color: #FFFFFF;
}


/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #E6E6E6;
}

ul.style1 li:last-child {
	border-bottom: 0;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 30px;
	background: url(images/img03.png) no-repeat left top;
	text-decoration: none;
	color: #525252;
}

ul.style1 a:hover {
	text-decoration: underline;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 0px 0px 40px 0px;
}

ul.style2 a {
	text-decoration: none;
	color: #525252;
}

ul.style2 a:hover {
	text-decoration: underline;
}

ul.style2 .date {
	display: inline-block;
	margin: 0px 0px 25px 0px;
	padding: 5px 10px;
	background: url(images/img01.png) repeat;
	letter-spacing: 1px;
	line-height: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

ul.style2 .date a {
	color: #FFFFFF;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 25px 0px;
}

ul.style3 a {
	display: block;
	text-decoration: none;
	color: #C18062;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .date {
	float: left;
	width: 80px;
	height: 78px;
	margin: 0px 25px 0px 0px;
	padding: 10px 0px 0px 0px;
	background: #D34C0D;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}

ul.style3 .date b {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0;
	letter-spacing: -1px;
	font-size: 40px;
	font-weight: 400;
	color: #FFFFFF;
}

ul.style3 .date a {
	color: #FFFFFF;
}

ul.style3 .date a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0px;
	background: none;
}

/** LIST STYLE 4 */

ul.style4 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style4 li {
	padding: 15px 0px 15px 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0, .3);
	border-top: solid 1px #AC6035;
}

ul.style4 li:first-child {
	border-top: 0;
}

ul.style4 a {
	display: block;
	padding: 0px 0px 0px 30px;
	background: url(images/img09.png) no-repeat left 5px;
	line-height: 160%;
	text-decoration: none;
	color: #F3F1EE;
}

ul.style4 a:hover {
	text-decoration: underline;
}

ul.style4 .first {
	background: none;
	padding-top: 0px;
}

/*
	Affinity by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Desktop (>= 480px)                                                            */
/*********************************************************************************/

/* Header */

#header-wrapper {
	background: url(images/img07.png) no-repeat center top;
}

#header {
	overflow: hidden;
	min-height: 205px;
	position: relative;
}

/* Logo */

#logo {
	overflow: hidden;
	padding: 30px 0 30px 0;
}

#logo h1 {
	margin: 0;
}

#logo h1 a {
	display: block;
	letter-spacing: -1px;
	text-align: center;
	text-decoration: none;
	text-shadow: -1px -1px 0px #AC531B;
	text-transform: lowercase;
	font-family: 'Allura', cursive;
	font-size: 70pt;
	font-weight: 200;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	background: url(images/img06.png) top right repeat;
}

#menu {
	height: 60px;
}

#menu ul {
	text-align: center;
}

#menu li {
	display: inline-block;
	padding: 0px 20px;
	line-height: 60px;
}

#menu a {
	display: block;
	float: left;
	margin-right: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 13pt;
	color: #FFFFFF;
}

#menu .current_page_item {
	background: #00626B;
	color: #FFFFFF;
	box-shadow: inset 0px -2px 20px 0px rgba(0,0,0,0.2);
}

#menu .current_page_item a {
	color: #FFFFFF;
}

#menu a:hover {
}


/* Page Wrapper */

#page-wrapper {
	overflow: hidden;
	padding: 30px 0px;
	background: #FFFFFF;
}

/* Banner */

#banner {
	overflow: hidden;
	padding: 0px 30px 30px 30px;
}

#banner a img {
	display: block;
	width: 100%;
}

/* Content */

#content {
	padding: 0px 0px 0px 30px;
}

.twocolumn2 #content {
	padding: 0px 30px 0px 0px;
}

.onecolumn #content {
	padding: 0px 30px;
}

#content section {
	margin-bottom: 30px;
	border-bottom: 1px solid #E6E6E6;
}

#content section:last-child {
	border-bottom: 0;
}

.onecolumn #content section {
	border-bottom: none;
}

#content h2 {
	padding: 0px 0px 40px 0px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-size: 30pt;
	color: #2A2A2A;
}

#content img {
	border: 10px solid #F3F3F3;
}

#content a img {
}

#content .post {
	padding: 0px 0px 40px 0px;
}

#content .img-alignleft {
	float: left;
	margin-right: 40px;
}
/* Sidebar1 */

#sidebar1 {
	padding: 0px 0px 0px 0px;
}

#sidebar1 section {
	margin: 0px 0px 50px 0px;
}

#sidebar1 h2 {
	height: 50px;
	background: url(images/img01.png) repeat;
	margin-bottom: 20px;
	padding: 0px 0px 0px 20px;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 20pt;
	color: #FFFFFF;
}


/* Sidebar2 */

#sidebar2 {
	padding: 0px 30px 0px 0px;
}

.twocolumn2 #sidebar2 {
	padding: 0px 0px 0px 30px;
}

#sidebar2 h2 {
	height: 50px;
	background: url(images/img10.png) no-repeat right top;
	margin-bottom: 20px;
	padding: 0px 0px 0px 20px;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 20pt;
	color: #FFFFFF;
}

#sidebar2 .sbox1 {
	margin-bottom: 50px;
}


#sidebar2 .sbox2 {
	margin-bottom: 50px;
}

#sidebar2 .sbox3 {
}


/** Footer Column Content */

#footer-content {
	overflow: hidden;
	padding: 50px 0px 0px 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0, .3);
	color: #F3F1EE;
}

#footer-content h2 {
	padding: 0px 0px 40px 0px;
	text-transform: uppercase;
	font-size: 20pt;
	color: #FFF;
}

#footer-content .imgleft {
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 30px;
	border: 5px solid #FFFFFF;
}











